<?xml version="1.0"?>
<config>
	<modules>
		<Diglin_Addinfotoemail>
			<version>1.1.1</version>
		</Diglin_Addinfotoemail>
	</modules>

	<global>
		<blocks>
			<addinfotoemail>
				<class>Diglin_Addinfotoemail_Block</class>
			</addinfotoemail>
		</blocks>
		<helpers>
			<addinfotoemail>
				<class>Diglin_Addinfotoemail_Helper</class>
			</addinfotoemail>
		</helpers>
		<resources>
			<addinfotoemail_setup>
				<setup>
					<module>Diglin_Addinfotoemail</module>
					<class>Diglin_Addinfotoemail_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</addinfotoemail_setup>
			<addinfotoemail_write>
				<connection>
					<use>default_write</use>
				</connection>
			</addinfotoemail_write>
			<addinfotoemail_read>
				<connection>
					<use>default_read</use>
				</connection>
			</addinfotoemail_read>
		</resources>
	</global>

	<frontend>
		<layout>
			<updates>
				<addinfotoemail>
					<file>addinfotoemail.xml</file>
				</addinfotoemail>
			</updates>
		</layout>
		<translate>
			<modules>
				<Diglin_Addinfotoemail>
					<files>
						<default>Diglin_Addinfotoemail.csv</default>
					</files>
				</Diglin_Addinfotoemail>
			</modules>
		</translate>
	</frontend>
</config>
